.game-page {
  padding: 20px;
}

.game-page button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #b6331c;
  color: white;
  transition: background-color 0.2s;
}

.game-page button:hover {
  background-color: #d18181;
}

.game-title {
  color: #b6331c;
}
